.side-bar-card {
  height: 100vh;
  border-radius: 0%;
  position: fixed;
  width: 17vw;
  background-color: #000000;
  z-index: inherit;
}
.side-card-body {
  margin-top: 50%;
}
.side-link-container {
  margin-bottom: 30px;
  cursor: pointer;
  padding-left: 30px;
}
.side-link-text {
  font-size: 0.7em;
  font-weight: bold;
  color: #ffffff;
}
a{
  text-decoration: none;
  color: #ffffff;
  font-size: 14px;
}
:hover a{
  text-decoration: none;
  color: #ffffff;
}
:active a{
  background-color: #c5c4c4;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  margin-left: 20px;
  height: 50px;
  padding: 10px;
}

